name: Test

on:
  push:
  pull_request:
  schedule:
    - cron: "0 18 * * *"

jobs:
  spec:
    runs-on: ubuntu-latest
    container:
      image: crystallang/crystal:latest-alpine
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run: shards install
      - name: Run tests
        run: crystal spec
